@font-face {
  font-family: "sinkin_sans300_light";
  src: url("../fonts/SinkinSans-300Light-webfont.eot");
  src: url("../fonts/SinkinSans-300Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SinkinSans-300Light-webfont.woff2") format("woff2"), url("../fonts/SinkinSans-300Light-webfont.woff") format("woff"), url("../fonts/SinkinSans-300Light-webfont.ttf") format("truetype"), url("../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Selfie";
  src: url("../fonts/Selfie.eot");
  src: url("../fonts/Selfie.eot?#iefix") format("embedded-opentype"), url("../fonts/Selfie.woff") format("woff"), url("../fonts/Selfie.ttf") format("truetype"), url("../fonts/Selfie.svg") format("svg");
}
@font-face {
  font-family: "Nova Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nova-mono-v10-latin-regular.eot");
  src: local("NovaMono"), url("../fonts/nova-mono-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nova-mono-v10-latin-regular.woff2") format("woff2"), url("../fonts/nova-mono-v10-latin-regular.woff") format("woff"), url("../fonts/nova-mono-v10-latin-regular.ttf") format("truetype"), url("../fonts/nova-mono-v10-latin-regular.svg#NovaMono") format("svg");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header {
  height: 120px;
  background-color: #c88785;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  font-size: 2.6em;
  color: #ffffff;
  font-family: "Nova Mono", sans-serif;
}
@media screen and (max-width: 599px) {
  #logo {
    font-size: 2.1em;
  }
}

#pageframe {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 599px) {
  #pageframe {
    width: 90%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 1.1em;
  font-family: "sinkin_sans300_light";
}

.menu {
  display: flex;
  color: #c88785;
}
.menu--black {
  color: #000000;
  margin-left: 10px;
}
@media screen and (max-width: 599px) {
  .menu {
    font-size: 1em;
  }
}

.panier {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.panier a {
  text-decoration: none;
  color: #85c6c8;
}
.panier img {
  width: 35px;
  height: 30px;
  margin-right: 10px;
}
@media screen and (max-width: 599px) {
  .panier {
    font-size: 1em;
  }
}

.titre {
  border: solid 3px #85c6c8;
  height: 120px;
  margin: 10px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titre h2 {
  font-size: 4em;
  font-family: selfie, sans-serif;
  font-weight: bolder;
}
@media screen and (max-width: 599px) {
  .titre h2 {
    font-size: 3.6em;
  }
}

#app {
  padding-bottom: 100px;
}

#list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
}
#list-products li {
  list-style-type: none;
}
@media screen and (max-width: 750px) {
  #list-products {
    justify-content: center;
  }
}

.product-item {
  width: 300px;
  height: 360px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-item img {
  width: auto;
  height: 360px;
  position: relative;
  left: -23%;
}
.product-item a {
  text-decoration: none;
  text-decoration-color: none;
}
.product-item:hover .product-name-price {
  opacity: 1;
  bottom: 0px;
}

.product-name-price {
  position: absolute;
  bottom: -90px;
  background-color: rgba(133, 198, 200, 0.7);
  width: 100%;
  font-family: "sinkin_sans300_light";
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.product-name-price a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  color: #000000;
}
.product-name-price h3 {
  font-size: 1.3em;
  line-height: 1.5em;
  padding-left: 15px;
  color: #054448;
  width: 50%;
}
.product-name-price p {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: bolder;
  padding-right: 15px;
  width: 50%;
}

.text-end {
  width: 300px;
  height: 360px;
  padding: 30px;
  background-color: rgba(133, 198, 200, 0.7);
  font-size: 1.5em;
  text-align: center;
  font-family: "sinkin_sans300_light";
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 60px;
  background-color: rgba(200, 135, 133, 0.8);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social img {
  width: 30px;
  margin: 10px;
}

@font-face {
  font-family: "sinkin_sans300_light";
  src: url("../fonts/SinkinSans-300Light-webfont.eot");
  src: url("../fonts/SinkinSans-300Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SinkinSans-300Light-webfont.woff2") format("woff2"), url("../fonts/SinkinSans-300Light-webfont.woff") format("woff"), url("../fonts/SinkinSans-300Light-webfont.ttf") format("truetype"), url("../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Selfie";
  src: url("../fonts/Selfie.eot");
  src: url("../fonts/Selfie.eot?#iefix") format("embedded-opentype"), url("../fonts/Selfie.woff") format("woff"), url("../fonts/Selfie.ttf") format("truetype"), url("../fonts/Selfie.svg") format("svg");
}
@font-face {
  font-family: "Nova Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nova-mono-v10-latin-regular.eot");
  src: local("NovaMono"), url("../fonts/nova-mono-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nova-mono-v10-latin-regular.woff2") format("woff2"), url("../fonts/nova-mono-v10-latin-regular.woff") format("woff"), url("../fonts/nova-mono-v10-latin-regular.ttf") format("truetype"), url("../fonts/nova-mono-v10-latin-regular.svg#NovaMono") format("svg");
}
#logo a {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 375px) {
  nav {
    font-size: 1em;
    flex-direction: column;
    align-items: flex-start;
  }
}

.menu a {
  text-decoration: none;
}
.menu .menu-item {
  color: #000000;
  margin-left: 10px;
}

#product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 420px;
  margin-top: 60px;
  font-family: "sinkin_sans300_light";
}
#product .image-item {
  width: 500px;
  height: 420px;
  margin-right: 20px;
  overflow: hidden;
}
#product .image-item #product-image {
  width: auto;
  height: 420px;
  position: relative;
  left: 50%;
  margin-left: -320px;
}
@media screen and (max-width: 768px) {
  #product {
    flex-wrap: wrap;
    justify-content: center;
  }
  #product img {
    width: 100%;
    height: auto;
    margin-right: 0;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 425px) {
  #product img {
    width: 100%;
    height: auto;
    margin-right: 0;
    justify-content: center;
    margin-bottom: 20px;
  }
}

#product-description {
  background-color: rgba(133, 198, 200, 0.4);
  width: 340px;
  height: 420px;
  padding: 20px;
}
#product-description h2 {
  font-size: 1.2em;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #product-description {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
  }
}

.product-information {
  width: 340px;
  height: 420px;
  padding: 0 20px;
}
.product-information h1 {
  font-size: 2em;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .product-information {
    width: 500px;
    height: auto;
  }
}

.dropdown label {
  color: #c88785;
  font-size: 1.1em;
}

select {
  width: 100%;
  height: auto;
  margin-top: 10px;
  font-size: 0.8em;
  font-family: "sinkin_sans300_light";
  border: solid 1px #c88785;
}

button {
  width: 100%;
  background-color: #660906;
  border: none;
  color: #ffffff;
  padding: 6px 40px;
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "sinkin_sans300_light";
}
button:hover {
  background-color: rgba(102, 9, 6, 0.5);
}
@media screen and (max-width: 976px) {
  button {
    margin-bottom: 100px;
  }
}

@font-face {
  font-family: "sinkin_sans300_light";
  src: url("../fonts/SinkinSans-300Light-webfont.eot");
  src: url("../fonts/SinkinSans-300Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SinkinSans-300Light-webfont.woff2") format("woff2"), url("../fonts/SinkinSans-300Light-webfont.woff") format("woff"), url("../fonts/SinkinSans-300Light-webfont.ttf") format("truetype"), url("../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Selfie";
  src: url("../fonts/Selfie.eot");
  src: url("../fonts/Selfie.eot?#iefix") format("embedded-opentype"), url("../fonts/Selfie.woff") format("woff"), url("../fonts/Selfie.ttf") format("truetype"), url("../fonts/Selfie.svg") format("svg");
}
@font-face {
  font-family: "Nova Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nova-mono-v10-latin-regular.eot");
  src: local("NovaMono"), url("../fonts/nova-mono-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nova-mono-v10-latin-regular.woff2") format("woff2"), url("../fonts/nova-mono-v10-latin-regular.woff") format("woff"), url("../fonts/nova-mono-v10-latin-regular.ttf") format("truetype"), url("../fonts/nova-mono-v10-latin-regular.svg#NovaMono") format("svg");
}
#mon-panier {
  display: flex;
  font-family: "sinkin_sans300_light";
}

#panier-products-formulaire {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 120px;
}
#panier-products-formulaire #panier-items {
  background-color: rgba(133, 198, 200, 0.4);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#panier-products-formulaire #panier-items .panier-product {
  line-height: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#panier-products-formulaire #panier-items .panier-product img {
  width: 240px;
  height: auto;
  margin: 10px 0;
}
#panier-products-formulaire #panier-items .panier-product p {
  margin-top: 40px;
}

#formulaire {
  background-color: rgba(200, 135, 133, 0.4);
  padding: 40px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#formulaire form {
  width: 100%;
}
#formulaire form .formulaire-item {
  display: flex;
  flex-direction: column;
}
#formulaire form label {
  margin-bottom: 10px;
}
#formulaire form input {
  margin-bottom: 20px;
  height: 40px;
  border: solid 2px #c88785;
  border-radius: 12px;
  padding-left: 10px;
  font-size: 1em;
}
#formulaire a {
  width: 50%;
}

#panier-total {
  width: 30%;
  height: auto;
  padding: 20px;
}
#panier-total .cout-panier {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#panier-total .cout-panier p {
  margin: 0;
}
#panier-total .cout-panier--bold {
  font-weight: bold;
  color: #85c6c8;
}
#panier-total .cout-panier--total {
  margin-top: 40px;
  font-weight: 900;
}

@font-face {
  font-family: "sinkin_sans300_light";
  src: url("../fonts/SinkinSans-300Light-webfont.eot");
  src: url("../fonts/SinkinSans-300Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SinkinSans-300Light-webfont.woff2") format("woff2"), url("../fonts/SinkinSans-300Light-webfont.woff") format("woff"), url("../fonts/SinkinSans-300Light-webfont.ttf") format("truetype"), url("../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Selfie";
  src: url("../fonts/Selfie.eot");
  src: url("../fonts/Selfie.eot?#iefix") format("embedded-opentype"), url("../fonts/Selfie.woff") format("woff"), url("../fonts/Selfie.ttf") format("truetype"), url("../fonts/Selfie.svg") format("svg");
}
@font-face {
  font-family: "Nova Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nova-mono-v10-latin-regular.eot");
  src: local("NovaMono"), url("../fonts/nova-mono-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nova-mono-v10-latin-regular.woff2") format("woff2"), url("../fonts/nova-mono-v10-latin-regular.woff") format("woff"), url("../fonts/nova-mono-v10-latin-regular.ttf") format("truetype"), url("../fonts/nova-mono-v10-latin-regular.svg#NovaMono") format("svg");
}
.command-text {
  font-family: "sinkin_sans300_light";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.command-text h1 {
  font-size: 7em;
  font-weight: bolder;
  color: #85c6c8;
  font-family: selfie;
  margin: 0;
}
.command-text .validation-text {
  border: solid 3px #85c6c8;
  margin-top: -53px;
  padding: 30px;
}
.command-text .validation-text h2 {
  text-align: center;
}
.command-text .validation-text .data-command {
  display: flex;
}
.command-text .validation-text .data-command p {
  margin-right: 10px;
}
.command-text a {
  text-decoration: none;
  color: #85c6c8;
  font-weight: bolder;
}
.command-text a:hover {
  color: #054448;
  text-shadow: 0 0 3px #85c6c8;
}

@font-face {
  font-family: "sinkin_sans300_light";
  src: url("../fonts/SinkinSans-300Light-webfont.eot");
  src: url("../fonts/SinkinSans-300Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SinkinSans-300Light-webfont.woff2") format("woff2"), url("../fonts/SinkinSans-300Light-webfont.woff") format("woff"), url("../fonts/SinkinSans-300Light-webfont.ttf") format("truetype"), url("../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Selfie";
  src: url("../fonts/Selfie.eot");
  src: url("../fonts/Selfie.eot?#iefix") format("embedded-opentype"), url("../fonts/Selfie.woff") format("woff"), url("../fonts/Selfie.ttf") format("truetype"), url("../fonts/Selfie.svg") format("svg");
}
@font-face {
  font-family: "Nova Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nova-mono-v10-latin-regular.eot");
  src: local("NovaMono"), url("../fonts/nova-mono-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nova-mono-v10-latin-regular.woff2") format("woff2"), url("../fonts/nova-mono-v10-latin-regular.woff") format("woff"), url("../fonts/nova-mono-v10-latin-regular.ttf") format("truetype"), url("../fonts/nova-mono-v10-latin-regular.svg#NovaMono") format("svg");
}

/*# sourceMappingURL=style.css.map */
