@import "../components/fonts";
@import "../components/variables";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
}

header {
  height: 160px;
  background-color: $clr-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  font-size: 3em;
  color: #ffffff;
  font-family: 'Nova Mono', sans-serif;
}