@import "../components/fonts";
@import "../components/variables";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

// header
header {
  height: 120px;
  background-color: $clr-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  font-size: 2.6em;
  color: #ffffff;
  font-family: 'Nova Mono', sans-serif;
  @media screen and (max-width: 599px) {
    font-size: 2.1em;
  }
}

// interior page
#pageframe {
  width: 80%;
  margin: auto;
  @media screen and (max-width: 599px) {
    width: 90%;
  }
}

// navigation
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 1.1em;
  font-family: $typhography-primary;
}

.menu {
  display: flex;
  color: $clr-primary;
  &--black {
    color: #000000;
    margin-left: 10px;
  }
  @media screen and (max-width: 599px) {
    font-size: 1em;
  }
}

.panier {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: $clr-secondary;
  }
  img {
    width: 35px;
    height: 30px;
    margin-right: 10px;
  }
  @media screen and (max-width: 599px) {
    font-size: 1em;
  }
}

// title
.titre {
  border: solid 3px $clr-secondary;
  height: 120px;
  margin: 10px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 4em;
    font-family: selfie, sans-serif;
    font-weight: bolder;
    @media screen and (max-width: 599px) {
      font-size: 3.6em;
    }
  }
}

// List products
#app {
  padding-bottom: 100px;
}

#list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
  li {
    list-style-type: none;
  
  }
  @media screen and (max-width: 750px) {
    justify-content: center;
  }
}

.product-item {
  width: 300px;
  height: 360px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  // font-size: 0;
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  img {
    width: auto;
    height: 360px;
    position: relative;
    left: -23%;
  }
  a {
    text-decoration: none;
    text-decoration-color: none;
    // position: relative;
    // right: -50%;
    // font-size: 1.4em;
  }
  &:hover {
    .product-name-price {
      opacity: 1;
      bottom: 0px;
    }
  }
}

.product-name-price {
  position: absolute;
  bottom: -90px;
  background-color: rgba($color: $clr-secondary, $alpha: 0.7);
  width: 100%;
  font-family: $typhography-primary;
  opacity: 0;
  transition: all 500ms ease-in-out;
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    color: #000000;
  }
  h3 {
    font-size: 1.3em;
    line-height: 1.5em;
    padding-left: 15px;
    color:$clr-secondary-dark;
    width: 50%;
    // font-family: $typhography-primary;
  }
  p {
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: bolder;
    padding-right: 15px;
    width: 50%;
    // color: #000000;
    // font-family: $typhography-primary;
  }
}

.text-end {
  width: 300px;
  height: 360px;
  padding: 30px;
  background-color: rgba($color: $clr-secondary, $alpha: 0.7);
  font-size: 1.5em;
  text-align: center;
  font-family: 'sinkin_sans300_light';
  display: flex;
  justify-content: center;
  align-items: center;
}

// Footer
footer {
  width: 100%;
  height: 60px;
  background-color: rgba($color: $clr-primary, $alpha: 0.8);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 30px;
    margin: 10px;
  }
}