@import "../components/fonts";
@import "../components/variables";

// logo
#logo {
    a {
        text-decoration: none;
        color: #ffffff;
    }
}

nav {
    @media screen and (max-width: 375px) {
        font-size: 1em;
        flex-direction: column;
        align-items: flex-start;
    }
}

.menu {
    a {
        text-decoration: none;
    }
    .menu-item {
        color: #000000;
        margin-left: 10px;
    }
}

#product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 420px;
    margin-top: 60px;
    font-family: $typhography-primary;
    img {
        width: auto;
        max-width: 500px;
        height: 420px;
        margin-right: 20px;
    }
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
        img {
            width: 100%;
            height: auto;
            margin-right: 0;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: 425px) {
        img {
            width: 100%;
            height: auto;
            margin-right: 0;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
}

#product-description {
    background-color: rgba($color: $clr-secondary, $alpha: 0.4);
    width: 340px;
    height: 420px;
    padding: 20px;
    h2 {
        font-size: 1.2em;
        margin: 0;
    }
    @media screen and (max-width: 768px) {
        width: 500px;
        height: auto;
        margin-bottom: 20px;
    }
}

.product-information {
    // background-color: $clr-primary;
    width: 340px;
    height: 420px;
    padding: 0 20px;
    h1 {
        font-size: 2em;
        margin: 0;
    }
    @media screen and (max-width: 768px) {
        width: 500px;
        height: auto;
    }
}

.dropdown {
    label {
        color: $clr-primary;
        font-size: 1.1em;
    }
}

select {
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 0.8em;
    font-family: $typhography-primary;
    // background-color: rgba($color: $clr-primary, $alpha: 0.4);
    border: solid 1px $clr-primary;
}

button {
    width: 100%;
    background-color: $clr-primary-dark;
    border: none;
    color: #ffffff;
    padding: 6px 40px;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    font-size: 1.2em;
    font-family: $typhography-primary;
    &:hover {
        background-color: rgba($color: $clr-primary-dark, $alpha: 0.5);
    }
    @media screen and (max-width: 976px) {
        margin-bottom: 100px;
    }
}