@import "../components/fonts";
@import "../components/variables";

// logo
#logo {
    a {
        text-decoration: none;
        color: #ffffff;
    };
}

.menu {
    a {
        text-decoration: none;
    }
}

#product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 420px;
    margin-top: 60px;
    font-family: $typhography-primary;
}

#product-image {
    // background-color: $clr-primary;
    width: 340px;
    height: 420px;
}

.product-information {
    // background-color: $clr-primary;
    width: 340px;
    height: 420px;
    padding: 0 20px;
    h1 {
        font-size: 2em;
        margin: 0;
    }
}

button {
    background-color: $clr-primary-dark;
    border: none;
    color: #ffffff;
    padding: 7px 40px;
    margin-top: 120px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    font-size: 1.2em;
    font-family: $typhography-primary;
    &:hover {
        background-color: rgba($color: $clr-primary-dark, $alpha: 0.5);
    }
}

#product-description {
    background-color: rgba($color: $clr-secondary, $alpha: 0.4);
    width: 340px;
    height: 420px;
    padding: 20px;
    h2 {
        font-size: 1.2em;
        margin: 0;
    }
}
