@font-face {
  font-family: 'sinkin_sans300_light';
  src: url('../fonts/SinkinSans-300Light-webfont.eot');
  src: url('../fonts/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SinkinSans-300Light-webfont.woff2') format('woff2'),
       url('../fonts/SinkinSans-300Light-webfont.woff') format('woff'),
       url('../fonts/SinkinSans-300Light-webfont.ttf') format('truetype'),
       url('../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selfie';
  src: url('../fonts/Selfie.eot');
  src: url('../fonts/Selfie.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Selfie.woff') format('woff'),
       url('../fonts/Selfie.ttf') format('truetype'),
       url('../fonts/Selfie.svg') format('svg');
}

@font-face {
  font-family: 'Nova Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nova-mono-v10-latin-regular.eot'); 
  src: local('NovaMono'),
       url('../fonts/nova-mono-v10-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/nova-mono-v10-latin-regular.woff2') format('woff2'), 
       url('../fonts/nova-mono-v10-latin-regular.woff') format('woff'), 
       url('../fonts/nova-mono-v10-latin-regular.ttf') format('truetype'), 
       url('../fonts/nova-mono-v10-latin-regular.svg#NovaMono') format('svg');
}